<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<!-- Define custom levels before using them for filtering below. -->
	<CustomLevels>
		<CustomLevel name="VALIDATION_ERROR" intLevel="650" />
	</CustomLevels>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} (%-5level) - %msg%xEx%n"/>
		</Console>
		<RollingFile name="log" fileName="logs/dbquality.log" filePattern="logs/dbquality_%i.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} (%-5level) %class{36} (%L) %M - %msg%xEx%n"/>
			<OnStartupTriggeringPolicy />
		</RollingFile>
		
		<RollingFile name="validation" fileName="logs/dbquality-result.log" filePattern="logs/dbquality_result-%i.log">
			<OnStartupTriggeringPolicy />
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="debug" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="trace" onMatch="DENY" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="VALIDATION_ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="%d{HH:mm:ss.SSS} (%-5level) - %msg%xEx%n"/>
		</RollingFile>
		
	</Appenders>

	<Loggers>
		<Root level="VALIDATION_ERROR">
			<AppenderRef ref="log" level="info"/>
			<AppenderRef ref="console" level="info"/>
			<AppenderRef ref="validation" level="VALIDATION_ERROR"/>
		</Root>
	</Loggers>
</Configuration>